%h1 Contracts Index

- flash.each do |key, value| 
	= content_tag :div, value, class: "flash #{key}"



.mdl-cell.mdl-cell--12-col
	
	
.mdl-cell.mdl-cell--12-col			
	%table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
		%thead
			%tr
				%th.mdl-data-table__cell--non-numeric Company
				%th Contact
				%th Amount
				%th Options
		%tbody
			- @contracts.each do |contract|
				%tr
					%td.mdl-data-table__cell--non-numeric 
						= contract.company.company_name.to_s
					%td 
						= contract.contact.to_s
					%td
						= contract.amount.to_i 
					%td 
						%a.mdl-navigation__link{:href => "#{edit_contract_path(contract)}"}
							%i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"} edit
						%a.mdl-navigation__link{:href => "#{delete_contract_path(id: contract.id)}" }
							%i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"} delete
	%br

	%a.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--primary#new-contract{:href=>"#{new_contract_path}"} 
		%i.material-icons add

